In [1]:
import pandas as pd

In [31]:
car = pd.read_csv('quikr_car.csv')
car.head(20)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
5,Ford EcoSport Titanium 1.5L TDCi,Ford,2015,Ask For Price,"59,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
7,Hyundai Eon,Hyundai,2013,"1,90,000","25,000 kms",Petrol
8,Ford EcoSport Ambiente 1.5L TDCi,Ford,2016,"8,30,000","24,530 kms",Diesel
9,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000 kms",Petrol
10,Skoda Fabia Classic 1.2 MPI,Skoda,2010,"1,82,000","60,000 kms",Petrol
11,Maruti Suzuki Stingray VXi,Maruti,2015,"3,15,000","30,000 kms",Petrol
12,Hyundai Elite i20 Magna 1.2,Hyundai,2014,"4,15,000","32,000 kms",Petrol
13,Mahindra Scorpio SLE BS IV,Mahindra,2015,"3,20,000","48,660 kms",Diesel
14,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
15,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
16,Audi A8,Audi,2017,"10,00,000","4,000 kms",Petrol
17,Audi Q7,Audi,2014,"5,00,000","16,934 kms",Diesel
18,Mahindra Scorpio S10,Mahindra,2016,"3,50,000","43,000 kms",Diesel
19,Maruti Suzuki Alto 800,Maruti,2014,"1,60,000","35,550 kms",Petrol

In [32]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [33]:
backup = car.copy()

## Problems

- names are pretty inconsistent
- names have the company name
- We can use starting 3 words from name column
- in year we have found non year values
- Price has 'Ask For Price' 
- Price has commas in it's price values.
- kms_driven has commans and 'kms' string
- kms we have NaN values
- Convert fuel type to Category data
- It also has Nan values.

In [34]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

## Cleaning Data

In [35]:
car = car[car['year'].str.isnumeric()]

In [36]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    object
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [37]:
car['year'] = car['year'].astype(int)

In [39]:
car = car[car['Price']!= 'Ask For Price']

In [44]:
car['Price'] = car['Price'].str.replace(',','').astype(int)

In [45]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [51]:
car['kms_driven'] = car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [55]:
car = car[car['kms_driven'].str.isnumeric()]

In [58]:
car['kms_driven'] = car['kms_driven'].astype(int)

<ipython-input-58-7bcfc74e04c9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven'] = car['kms_driven'].astype(int)

In [59]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [64]:
car = car[~car['fuel_type'].isna()]

In [65]:
car.shape

(816, 6)

In [73]:
car['name'] = car['name'].str.split().str.slice(start=0, stop=3).str.join(' ')

In [74]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [75]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [76]:
car = car.reset_index(drop=True)

In [77]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [78]:
car.to_csv("Cleaned_Car_data.csv")

In [79]:
car.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,816,816,816.000000,8.160000e+02,816.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.444853,4.117176e+05,46275.531863,NaN
std,NaN,NaN,4.002992,4.751844e+05,34297.428044,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.912500e+05,56818.500000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [82]:
car = car[car['Price'] < 6000000]

## Training Dataset

In [83]:
X = car[['name','company','year','kms_driven','fuel_type']]
y = car['Price']

In [85]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 815, dtype: int32

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [88]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [89]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [90]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                       remainder='passthrough')

In [91]:
from sklearn.linear_model import LinearRegression

In [92]:
lr = LinearRegression()

In [93]:
pipe = make_pipeline(column_trans, lr)

In [94]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [95]:
y_pred = pipe.predict(X_test)

In [96]:
y_pred

array([ 168380.50277261,  386066.70791839,  192249.82344814,
        270952.81609877,  544981.32941747,   27971.91164722,
        303799.85634498,  340389.13023206,  508905.91089807,
        564147.12254956,  300127.94742866,  298866.60860343,
        358248.68992045,  348487.07245854,  404955.10801823,
       1040168.54803684,  147987.10889822,  407529.07368999,
        521810.90041965,  360056.30165008, 1495684.44591984,
        270550.68968433, 1558537.17660578,  481658.97980393,
        352848.05099341,  193871.58725408, 1497079.60433743,
        199062.53639094,  153063.79727811,  253940.61042377,
        194060.86826235,  288504.27664762,  305420.66358324,
        366071.65211722,  403429.26678014,  510922.82252529,
        271389.0871138 ,  711286.61227552,  260770.58225598,
        533250.08510914,  156125.52423611,  255639.99423985,
        267538.26584787,  233210.83501486,  618039.74026053,
        604248.67039022,  487320.48612593,   76253.26868731,
        138873.78969696,  892315.19670471,  414085.54091984,
        358187.13533878,  317113.47287203,   23714.06967364,
        134150.55552664,  562712.3074405 ,  406817.84480566,
        185309.81571648,  567609.59146858,  823638.77590164,
        567615.72709128,  368073.78849506,  356335.07773264,
        -14703.55609388,  200683.12601905,  390306.21597922,
        246792.69424893,  582473.86104377,  227896.83109859,
        532076.44618808,  188145.35780112,  252588.44486912,
        180487.72500268,  128402.84785245,   50321.46524616,
        517706.26727168,  398553.94641723,  188115.02904189,
        297867.75152458,  424191.89487709,   20427.628318  ,
        213749.40703296,  937495.5957224 ,  365160.13221664,
        202850.07544361,  102695.81054357,   72489.83231296,
        309958.53375126,  393993.29336065,  699155.75079197,
        270952.81609877,  142412.23114821,  296175.75966905,
        546937.90028334, 1892451.93093662,  556206.21858285,
        230733.92599899,  497275.92811325,  316135.18608338,
        274147.69041242, 1002845.20355747,  526233.49828147,
        447475.77154583,  534281.31791943,   80699.01647987,
        223331.89550763,  670626.1160221 ,  425141.11013006,
        360765.57565521,  400747.96304264,  478428.63524327,
        297867.75152458,  472953.17107899, 1495143.90784898,
        267059.55957972,  763817.11661404,   44341.49919354,
        420281.76214954,  236731.21687568,  262265.94809742,
        217147.84227666,  100926.58981795,  481024.30041191,
        226368.67448422,  327294.15266187,  358994.7692147 ,
         94557.39520569,  349580.34364688,  425917.99992342,
        173456.34288977,  138827.60695493,   76946.73709105,
        213749.40703296,  227027.91629408, 1525080.98636556,
        217287.84848422,  330014.40611333,  317105.25356331,
        288362.60741919,  475776.09032451,  189867.30943958,
        562634.73508449,  291031.76408682,  846190.35730626,
        455340.62558015,  538736.86086728,  527900.15335611,
        470405.80406945,   -6490.9766375 ,   35250.92459094,
        648721.27167485, 1425999.966133  ,  234209.8197984 ,
        196340.8746238 ,  272274.86059721,  319519.53850102,
        403626.45418695,  474115.84329703, 1003454.94013225,
        923029.80042108,  181291.5349467 ,  221737.08656094,
        222525.39331559])

In [97]:
import numpy as np
pipe.predict(pd.DataFrame(columns=X_test.columns, data=np.array(['Maruti Suzuki Ritz','Maruti',2017,50000,'Petrol']).reshape(1,5)))

array([340701.92706656])

In [98]:
import pickle

In [99]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))